<div class="pusher">
  <div class="ui inverted vertical jumbotron parallax masthead center aligned segment">
		
		<div class="ui container">
      <div class="ui large secondary inverted pointing menu">
        <a class="toc item">
          <i class="sidebar arrow icon"></i>
        </a>
        <a class="item">Datasets</a>
        <a class="item">Estatísticas</a>
        <a class="item">Projetos</a>
				<a class="item">API</a	>
        <div class="right item">
        </div>
      </div>
    </div>
    
		<div class="ui text container">
      <h1 class="ui inverted header">
				Dados UFMA
      </h1>
			<h2>Dados abertos da UFMA acessíveis para todos</h2>
			<div class="ui fluid huge icon input">
			  <input type="text" placeholder="Procurar por..." style="background-color: rgba(255,255,255,0.85);">
			  <i class="inverted red circular search link icon"></i>
			</div>
    </div>

  </div>

  <div class="ui inverted vertical stripe segment jumbotron-2 parallax">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="eight wide column">
          <h3 class="ui inverted header"><b>O que são Dados Abertos (DA)?</b></h3>
          <p>São informações públicas que não lesam a privacidade de sua fonte e podem ser utilizados e reutilizados por qualquer pessoa, sendo inclusive legíveis e reutilizáveis por máquinas.</p>
          <h3 class="ui inverted header">Por que Dados Abertos?</h3>
          <p>DA elevam a transparência das instituições a um novo patamar: permitem a inovação a partir do conhecimento sobre uma visão ampla de todo um conjunto de dados, em vez de uma visão regionada e fragmentada.</p>
        </div>
      </div>
      <div class="row">
        <div class="center aligned column">
          <a class="ui huge red button">Saiba Mais</a>
        </div>
      </div>
    </div>
  </div>
	
  <div class="ui inverted vertical parallax stripe segment jumbotron-3">
    <div class="ui text container">
      <h3 class="ui inverted header">Explore, Descubra, Compartilhe</h3>
      <p>Sem a sua participação de nada vale abrir os dados da Unviersidade Federal do Maranhão. Aproveite para explorar os conjuntos de dados já existentes, descubra novos padrões nas informações, e compartilhe suas descobertas com outros.</p>
      <a class="ui large red button">Vamos lá!</a>
      <h4 class="ui horizontal header divider">
        <a>Case Studies</a>
      </h4>
      <h3 class="ui inverted header">Como Dados Abertos podem me ajudar?</h3>
      <p>De estimativas de senso estatísticos a algoritmos de aprendizagem de máquina, dados abertos podem alavancar a produtividade do seu trabalho.</p>
      <a class="ui large red button">Veja os projetos da UFMA que já usam DA</a>
    </div>
  </div>


  <div class="ui inverted vertical footer segment">
    <div class="ui center aligned container">
      <div class="ui stackable inverted divided equal height stackable grid">
        <div class="three wide column">
          <h4 class="ui inverted header">Sobre</h4>
          <div class="ui inverted link list">
						<a href="#" class="item">Equipe</a>
            <a href="#" class="item">Contato</a>
            <a href="#" class="item">Mapa</a>
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header">Serviços</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Dados Abertos</a>
            <a href="#" class="item">Dados Conectados</a>
            <a href="#" class="item">Projetos</a>
          </div>
        </div>
        <div class="seven wide column">
          <h4 class="ui inverted header">Institucional</h4>
          <p>Bacharelado Interdisciplinar em Ciência e Tecnologia</p>
					<p>Engenharia de Computação</p>
        </div>
      </div>
			<div class="ui inverted section divider"></div>
			<img src="http://www.ufma.br/portalUFMA/foto/destaque_miM78sd8KIH2sBD.jpg" class="ui inverted centered mini image circular">
			<div class="ui vertical inverted small link list">
				<a class="item" href="http://portais.ufma.br/PortalProReitoria/proen/paginas/pagina_estatica.jsf?id=22" target="_blank">Centro de Ciências Exatas e Tecnológicas (CCET)</a>
				<a class="item" href="http://www.ecp.ufma.br" target="_blank">Curso de Engenharia da Computação</a>
	    </div>
			
    </div>
  </div>
</div>